<% content_for :page_title do %>
	<title><%= @announcement.title %> - Announcement | Casual Pwnography - Guild Wars 2</title>
<% end %>

<article class="blog-post">
	<h2 class="blog-title blue classy">
		<%= @announcement.title %><br>
		<span class="not-fancy">
			Written on <%= @announcement.created_at.strftime("%B %d, %Y") %>
		</span>
	</h2>
	<div class="blog-content">
		<%= raw @announcement.content %>
	</div>
</article>
