<% content_for :page_title do %>
	<title>New Guild Event | Casual Pwnography - Guild Wars 2</title>
<% end %>

<h1 class="classy blue wall-header">New Guild Event</h1>

<%= render 'form', guild_event: @guild_event %>
<div class="back-button">
	<%= link_to 'Back', guild_events_path %>	
</div>