<h1 class="blue classy" style="font-size: 5em; text-align: center">The Wall</h1>
<p style="text-align: center">Check out your guildie's latest posts!</p>
<% if logged_in?  %>
	<%= link_to "New Post!", posts_path, class: 'pure-button' %>
<% end %>
<hr>

<% if Post.all.empty? %>
	<article>
	  <h2 style="text-align: center" class="blue pwn-font">Hm, nothing here</h2>
	  <p style="text-align: center">
	  	Looks like no one has had the chance to post anything yet.
	  </p>
	</article>	
<% else %>
	<% Post.all.each do |post| %>
		<article>
			<h2>
				<%= post.title %>
			</h2>
			<p>
				<%= post.content %>
			</p>
		</article>
	<% end %>
<% end %>