<% content_for :page_title do %>
  <title>Guild Resources | Casual Pwnography - Guild Wars 2</title>
<% end %>

<h1 class="classy blue wall-header">Guild Resources</h1>
<hr>

<div style="padding: 1em">
	<%= render "global/aside" %>
</div>