.announcement__container {
	box-sizing: border-box;
    margin: 0 auto;
    padding: 0.125em;
    background-color: rgba(167, 148, 121, 0.85);
}

.announcement__container h2 {
    text-align: center;
    margin: 0.5em 0em;
}