.aside__section {
    h3 {
	margin: 0;
    padding: 1em 0;
	text-align: center;
	font-family: "Acme", sans-serif;
    }

    h3:nth-child(even) {
	font-family: "Tangerine", cursive;
	font-size: 2em;
    }

    ul {
    	padding-left: 60px;
    }
}

.discord__container {
    height: 31.25em;

    iframe {
	display: block;
	margin: 0 auto;
	width: 85%;
	height: 87%;
    }
}

.donation__container {
    input[name='submit'] {
        display: block;
        margin: 0 auto;
    }
}