$casual-blue: #195584;
$casual-gold: #a79479;

html {
    background: image-url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: auto;
}

.center {
    max-width: 75em;
    margin: 0 auto;
}

body {
    margin: 0;
}

.classy {
    font-family: "Tangerine", cursive;
    font-size: 2em;
}

.blue {
    color: $casual-blue;
}

.gold {
    color: $casual-gold;
}

.pwn-font {
    font-family: "Acme", sans-serif;
}

.pwn-button {
    background-color: #195584;
    color: white;
}

h1 {
    font-size: 2.25em;
    margin: 0.25em 0;
}

.display-left-container {
    background-color: rgba(167, 148, 121, 0.8);

    h1, p {
	padding: 0.15em 1em;
    }
}

