html {
    background: image-url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center {
    max-width: 75em;
    margin: 0 auto;
}

body {
    margin: 0;
}