$casual-blue: #195584;
$casual-gold: #a79479;

html {
    background: image-url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: auto;
}

.center {
    max-width: 75em;
    margin: 0 auto;
}

body {
    margin: 0;
}

.classy {
    font-family: "Tangerine", cursive;
    font-size: 2em;
    text-shadow: 1px 1px 8px #606060;
}

.blue {
    color: $casual-blue;
}

.gold {
    color: $casual-gold;
}

.pwn-font {
    font-family: "Acme", sans-serif;
}

.pwn-button {
    background-color: #195584;
    color: white;
}

h1 {
    font-size: 2.25em;
    margin: 0.25em 0;
}

.display-left-container {
    position: relative;

    h1, p {
	padding: 0.15em 1em;
    }
}

.yield-wrapper>div {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a79479+0,a79479+100&0.85+0,1+25,1+100 */
    background: -moz-linear-gradient(top, rgba(167,148,121,0.85) 0%, rgba(167,148,121,1) 40%, rgba(167,148,121,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(167,148,121,0.85) 0%,rgba(167,148,121,1) 40%,rgba(167,148,121,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(167,148,121,0.85) 0%,rgba(167,148,121,1) 40%,rgba(167,148,121,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9a79479', endColorstr='#a79479',GradientType=0 ); /* IE6-9 */
}

.notice {
    color: green;
    border: 2px solid green;
}

.alert {
    color: red;
    border: 2px solid red;
}

.notice, .alert {
    text-align: center;
    width: 80%;
    margin: 1em auto;
    background: rgba(255, 255, 255, 0.25);
}