.mobile-nav {
    display: none;
}

.menu-btn {
    display: none;
}

.mobile-title {
    display: none;
}

.header__container {
    background-color: rgba(0,0,0,0.75);
}

.header__logo img {
    margin: 0.25em 0;
}

.header__navbar {

    nav {
	margin-top: 1.75em;
    }
    
    ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    }

    li {
	float: right;
    }

    li a {
	display: block;
	text-align: center;
	padding: 0.85em 1em;
	text-decoration: none;
    }

    li a:hover {
	background-color: rgba(0,0,0,0.9);
    }

    li a.pure-button:hover {
	background-color: $casual-gold;
    }
}

@media screen and (max-width: 64em) {
    .header__navbar nav {
	margin: 0;
    }
}

@media screen and (max-width: 35.5em) {

    .menu-btn {
	display: block;
	position: fixed;
	top: 1em;
	right: 1em;
	color: $casual-gold;
	cursor: pointer;
    }

    .mobile-nav {
	transition: max-height 0.3s ease;
	display: block;
	max-height: 0em;
	overflow: hidden;

	li {
	    float: initial;
	}
    }

    .mobile-nav.opened {
	max-height: 20em;
    }
   
    .desktop-nav {
	display: none;
    }

    .desktop-title {
	display: none;
    }

    .mobile-title {
	display: block;

	h1 {
	    margin: 0;
	}

	h1:last-child {
	    margin: 0em 0em 1em 0em;
	}
    }
}