<section class="announcement__container">
  <div class="center">
    <h2 class="blue pwn-font"><span class="classy">Latest Announcements:</span> <%= link_to obj.title, announcement_path(obj) %></h2>
  </div>
</section>
