<section class="announcement__container">
  <div class="center">
    <h2 class="blue pwn-font"><span class="classy">Latest Announcements:</span> <%= link_to "Nothing to see here", "javascript:alert(\"no, seriously\");" %></h2>
  </div>
</section>
