<section class="aside">
  <section class="aside__section discord__container">
    <h3 class="blue">Who's Online?</h3>
    <hr>
    <iframe src="https://discordapp.com/widget?id=328738686650810369&theme=dark" allowtransparency="true" frameborder="0"></iframe>
  </section>
</div>
