// Place all the styles related to the GuildEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guild_event_data {
	input, select {	
		display: block;
		width: 95%;
		border-radius: 0;
		margin: 0 auto;
		text-align: center;
	}

	label {
		display:block;
		text-align: center;
		text-decoration: underline;
		margin-top: .5em;
	}
}

.text_area_field {
	textarea {
		width: 95%;
		margin: 0 auto;
		display: block;
	}
}

.actions {
	text-align: center;
	margin-top: 1em;
	font-size: 1.618em;
}

.back-button{
	text-align: center;
	margin: 1em 0em;
}

.do-not-hide-pagination {
	.pagination {
		opacity: 1;
		text-align: center;
		margin-top: 1em;
	}
}

.aside__event {
	text-align: center;
	margin: 1em auto;

	color: #484848;
	font-style: italic;
	padding: 2em 0em;
	width: 95%;
	border: 0.125em solid $casual-blue;
}

.guild-event {
	padding: 1em;
}

.event-title {
	display:block;
	margin: 0;
}

.event-author {
	margin: 0;
	font-style: italic;
	color: #484848;
}

.display-left-container {
	.pure-table thead {
		color: white;
		background-color: $casual-blue;
	}

	.simple-calendar {

		td {
			div {
				margin-top: 0.25em;
				border: 0.0625em solid $casual-blue;
				background-color: rgba(255,255,255,0.2);
				padding: 0.25em;
			}
		}

		td.past {
			opacity: 0.25;
		}

		td.today  {
			div {
				background-color: rgba(0,0,0,0.2);
			}
		}

		td.prev-month,
		td.next-month {
			background-color: $casual-blue;
			color: white;
			div {
				border: 0.0625em solid white;
				background-color: rgba(0,0,0,0.2);
			}

			a {
				color: white;
			}
		}
	}
}

@media screen and (max-width: 48em) {
	.calendar-container {
		display: none;
	}
}